@import url("https://saika1205.github.io/OBS-CSS/color.css");

:root {
  /* ボックス */
  --balloon-background-color: var(--white);
  --balloon-background-padding: var(--background-padding, 10px 10px 10px 10px);
  --balloon-border-color: var(--blue);
  --balloon-border-width: var(--border-width, 3px);
  --balloon-width: 800px;
  
  /* テキスト */
  --font-size-name: 1.1rem;
  --font-color-name: var(--red);
  --font-size-dice: 1.1rem;
  --font-color-dice: var(--red);
  --font-size-main: 1.0rem;
  --font-color-main: var(--blue);

  /* イメージ */
  --image-display: none;
  --dice-display: none;
  --skip-display: none;
  --close-display: none;
}

.MuiToolbar-root+div {
  height: 50px;
}

/* アイコン */
.MuiPaper-root>img {
  display: none;
}

/* カスタム用 */
div[tabindex="0"]>.MuiPaper-root {
  background-color: transparent;
  max-width: var(--balloon-width);
  left: 5px;
  right: 5px;
  bottom: 10px;
  border-radius: var(--balloon-border-radius);
}

/* スキップボタン */
[aria-label="スキップ"] {
  display: none;
}

/* 閉じるボタン */
[aria-label="閉じる"] {
  display: none;
}

/* 行間調整 */
.css-6tsndk {
  padding: 0px 20px 10px 20px !important;
}
.jlKRNh {
  padding: 0px 20px 10px 20px !important;
}

/* 影を消す */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation6 {
box-shadow: none !important;
}
