@import url("https://saika1205.github.io/OBS-CSS/color.css");

:root {
  --background-color: var(--white);
  --background-padding: 10px 10px 10px 10px;
  --border-color: var(--blue);
  --border-width: 3px;
  --border-radius: 8px;
  --font-color: var(--blue);
  --font-size: 0.9rem;
  --image-radius: 8%;
  --width: 400px;
  --height: 300px;
  --line-clamp: 5;
}


/* 2025-09-05 SAIKA 追記 */
.MuiList-root>div:nth-child(1)>div>div:nth-last-child(-n+11)>div {
    display: flex !important;
}
.MuiList-root>div:nth-child(1)>div>div:nth-last-child(-n+1)>div {
    display: none !important;
}

.MuiToolbar-root.MuiToolbar-dense.css-mjywep {
    display: none;
}
.MuiTypography-root.MuiTypography-caption.css-1v2gfp5 {
    display: none;
}

/* 2025-09-05 SAIKA 追記 終了 */
