/* アイコン */
.MuiPaper-root>img {
  display: block;
  width: 380px;
  height: 380px;
  margin: 0;
  background: none;
  border: none;
  border-radius: none;
  object-fit: cover;
  object-position: top;
}

/* タイトルの方 */
.MuiTypography-subtitle2,
.MuiTypography-body2 {
  display: none;
}

/* ログの方 */
.MuiTypography-body1 {
  display: none;
}

.MuiPaper-root>.MuiPaper-root {
  display: none;
}
